.container {
  text-align: left;
}

.container label {
  font-weight: bold;
}

.container input {
  border-width: 0.5px;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 20px;
  color: black;
}

.openingText {
  height: 100px;
}

.containerBtn {
  display: flex;
  justify-content: center;
}
